.container {
  padding: 100px 50px;
  background-color: var(--color-purple);
  color: white;
  text-align: center;
  .upperText {
    font-size: x-large;
  }
  .links {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .bottomText {
    font-size: large;
  }
}
