.container {
  width: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  // border: 1px solid red;
  border-radius: 4px;
  overflow: hidden;
  .image {
    position: relative;
    width: 100%;
    height: 200px;
    cursor: pointer;

    &:hover {
      img {
        transform: scale(1.02);
        filter: brightness(0.4);
      }
      .visitButton {
        opacity: 1;
      }
    }
    img {
      transition: all 300ms ease;
    }
    .visitButton {
      cursor: pointer;
      transition: all 300ms ease;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      opacity: 0;
      padding: 2px 10px;
      border-radius: 100px;
      outline: none;
      border: 2px solid white;
      background-color: transparent;
      color: white;
      font-size: larger;
      font-family: inherit;
    }
  }
  .project {
    padding: 0 20px;
    padding-top: 20px;
    .name {
      font-size: larger;
      color: var(--color-purple);
      font-weight: 600;
    }
    .description {
      margin-top: 10px;
      font-size: 15px;
    }
    .readMore {
      color: gray;
      cursor: pointer;
    }
  }
  .links {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
}
