.container {
  --border: 1px solid rgba(128, 128, 128, 0.137);
  border-left: var(--border);
  border-right: var(--border);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
    .icon {
      font-size: 60px;
      color: var(--color-purple);
    }
  }
  .rest {
    .sectionHead {
      color: var(--color-purple);
      font-size: large;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .toolsList {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
